body {
  font-family: sans-serif;
}

h1 {
  font-weight: bold;
}

.title {
  font: 32px Helvetica, Arial, sans-serif;
}

#main-nav {
  margin-top: 10px;
  list-style: none;
  padding-left: 0px;
}

#main-nav li {
  display: inline-block;
}

.nav a {
  color: white;
  background-color: #13a4a4;
  padding: 10px 15px;
  border-radius: 2px;
  text-decoration: none;
}

a.feature {
  background-color: orange;
}

.nav .feature {
    background-color: orange;
    box-shadow: 10px 2px #6f9090;
}

.footer {
  color: #666;
  background-color: #ccc;
  padding: 15px 0px;
  text-align: center;
  font-size: 14px;
}

.footer a {
  color: initial;
  text-decoration: underline;
}
